*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: inherit;
}

.container{
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

header{
    margin: 0 auto;
    align-items: center;
    color: white;
    background-image: url(../img/jumbo.png);
}

.row{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.square{
    height: 150px;
    width: 500px;
    background-color: deeppink;
    margin: 0 auto;
    border: 2px solid;
    border-style: dashed;
    text-align: center;
    color: white;
}

.blue-row{
    margin: 20px;
    background-color: blue;
    padding: 20px;
}

.col{
    display: flex;
    justify-content: center;
}


.small-square{

    width: 30%;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

p{
    padding: 10px;
}

.big-square{
    width: 50%;
    background-color: plum;
    display: flex;
}

.white{
    margin: 20px;
}

.grey-col{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.grey-row{
    background-color: grey;
    padding: 20px;
}

.green{
   height: 300px;
   background-color: aquamarine;
   margin: 20px;
}

.red-square{
    height: 200px;
    width: 200px;
    background-color: red;
}

.green-square{
    height: 200px;
    width: 100px;
    background-color: green;
    border: 1px solid;
}

.green-col{
    display: flex;
    justify-content: center;
}

.green-row{
    padding: 10px;
}


.xyz {
    background-image: url(../img/jumbo.png);
  }
